@import "./variables";

.menu-colllased{

position: fixed;
width: $menu-width;
height: 100vh ;
margin-left: 0;
margin-top: 0;
color: white;
overflow: hidden;
animation: show  .8s alternate ;

background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // background: #FC466B;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


   
    .menu-item{
       // overflow: hidden;

        .separator{
                //background: rgb(150, 32, 32);
                background: yellow;
                height: 1px;
                border-bottom: solid 1px #3333;
            }

        .item{
            width: 100%;
            &:hover{
                background-color: rgb(49, 47, 47);
            }

            a{
                display: flex;
                text-decoration: none;
                color: white;
            .item-icon{
               
                position: relative;
                display: inline-block;
                width: 60px;
                padding: $padding;
                font-size: $icon-width;
                
            }
            .item-title{
                display: inline-block;
                width: 50%;
                padding: $padding2;
                align-self: center;
            }
        }
    }
    }
}


@keyframes show {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);  
    }
}