@import "./partials/menu";
@import "./partials/_variables.scss";
@import "./partials/header";
@import "./partials/tooltip";
@import "./partials/mainContent";
@import "./partials/card";
@import "./partials/message";
@import "./partials/loader";
@import "./partials/movieDetail";


*{
    
    box-sizing: border-box;
}



body{

    margin: 0;
    padding: 0;
    width: 100vw;
   // height: 600px;
    font-size: 18px;
    background: $bg-color;
    // font-family: 'Dancing Script', cursive;
    font-family: 'Merriweather', serif;
  // position: relative;
    //overflow-x: hidden;
  // background: #000;

    
.hide{
  display: none;
}

.show{
  display: block;
}
}
